
/* Navbar styles */
.navbar {
    background-color: #2c3e50;
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: #ecf0f1;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #3498db;
}

/* Hero section styles */

.hero {background-image: url(https://pierced.co/cdn/shop/files/contact-us-banner.jpg?v=1613177296)

}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero .btn-primary {
    background-color: #3498db;
    border: none;
}

/* Mission section styles */
.mission {
    background-color: #e74c3c;
    color: #ecf0f1;
    padding: 1rem 0;
}

.mission h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Form section styles */
form .form-control {
    margin-bottom: 1rem;
}

/* Footer styles */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

.footer-banner {
    background-image: url('https://pierced.co/cdn/shop/files/footer-banner-m.jpg?v=1613177296');
    background-size: cover;
    background-position: center;
  }

  .footer-banner h1 {
    animation: fadeInSlide 2s forwards;
  }
  
  